
 <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <h1 class="text-center sub-heading">grow your business</h1>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="images/about.svg" alt="herogrowth">
                        </figure>
                    </div>

                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>WE PROVIDE SOLUTIONS FOR UPGRADING YOUR BUSINESS</h1>
                        <p>
                         <span class="bold-style">harshaltech</span> is known for providing wide range of business softwares
                        </p>
                        <button class="btn-style btn-primary">Read more</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

