<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our services</h1>
            <h1 class="text-center sub-heading">grow your business</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://img.icons8.com/doodle/48/000000/apple-settings.png" />
                            </div>
                            <h4>Cloud Services</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi soluta hic.
                                Officia, deleniti perspiciatis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://img.icons8.com/doodle/48/000000/apple-settings.png" />
                            </div>
                            <h4>IT consulting</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi soluta hic.
                                Officia, deleniti perspiciatis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://img.icons8.com/doodle/48/000000/apple-settings.png" />
                            </div>
                            <h4>Finance Services</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi soluta hic.
                                Officia, deleniti perspiciatis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://img.icons8.com/doodle/48/000000/apple-settings.png" />
                            </div>
                            <h4>Marketing</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi soluta hic.
                                Officia, deleniti perspiciatis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://img.icons8.com/doodle/48/000000/apple-settings.png" />
                            </div>
                            <h4>Cyber Security</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi soluta hic.
                                Officia, deleniti perspiciatis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://img.icons8.com/doodle/48/000000/apple-settings.png" />
                            </div>
                            <h4>Blockchain</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi soluta hic.
                                Officia, deleniti perspiciatis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>